* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  background-color: antiquewhite;
}
h1{
      color: #6a5acd;

}
.timer{
      font-size: 30px;
      color: #6a5acd;
      margin-bottom: 5px;
    }
.msg {
  font-size: 18px;
  margin: 15px;
  color: green;
}
button {
  padding: 8px 16px;
  background: #6a5acd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
