<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>author List</title>
</head>
<body>
    <div >
        <h1>author List</h1>
        <table border="3">
            <thead>
                <tr>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{author.name}}</td>
                <tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>