* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}
ul {
  padding: 0;
  margin: 10px 2px 7px 12px;
  max-width: 100%;
  word-wrap: break-word;
}
ul li {
  color: red;
  font-size: 14px;
}
input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border-radius: 8px;
}

.reg {
  background: rgb(12, 226, 105);
  margin: 3px;
  padding: 10px 20px;
  width: 100%;
  color: white;
  border: 1px solid gray;
  box-shadow: 1px 3px 3px gainsboro;
  border-radius: 6px;
  cursor: pointer;
}
.log {
  background: blueviolet;
  margin: 3px;
  padding: 10px 20px;
  width: 100%;
  color: white;
  border: 1px solid gray;
  box-shadow: 1px 3px 3px gainsboro;
  border-radius: 6px;
  cursor: pointer;
}

.reg:hover {
  background-color: rgb(60, 174, 60);
}

.log:hover {
  background: rgb(122, 66, 175);
}
