*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;   
    min-height: 70vh;              
}

#items{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}

p{
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}

button{
    background: #6a5acd;
    padding: 10px 20px;
    color: white;   
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #a8a3cd;
}
#search{
    display: block;
    margin: 30px auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 8px;
}
.counter {
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 30px auto;
    padding: 12px 20px;
    width: fit-content;

    font-size: 18px;
    font-weight: bold;
    color: #333;
    background: #f5f5f5;

    border: 2px solid #6a5acd;
    border-radius: 30px;
    
}

.counter .c {
    color: red;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 16px;
    min-width: 32px;
    text-align: center;
}

.counter {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;

    background: #f5f5f5;
    border: 2px solid #6a5acd;
    border-radius: 20px;
    padding: 8px 15px;
}

.counter .c {
    background: #6a5acd;
    color: white;
    padding: 4px 10px;
    border-radius: 50%;
    min-width: 28px;
    text-align: center;
}
.cart{
    text-align: center;
    color: #6a5acd;
}
table {
    border-collapse: collapse;
    width: 70%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

table th {
    background: #6a5acd;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #333;
}


.qty {
    font-weight: bold;
    color: #6a5acd;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.cnt {
  font-size: 20px;
  margin: 0 10px;
  font-weight: bold;
  color: #333;   
  display: inline-block;
  min-width: 30px; 
  text-align: center;
}